* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding-top: 0;
}

img {
    height: auto;
    width: 100%;
}

.nav {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 10px;

    &__logo {
        align-content: center;
        justify-content: flex-start;
        width: 100px;
    }

    &__menu {
        align-self: center;
        display: flex;
        justify-content: space-evenly;

        &--link {
            text-decoration: none;
        }
        
    }

    &__profile {
        display: flex;
        align-content: center;
        justify-content: flex-end;

        &__pix {
            border: 1px solid transparent;
            border-radius: 6px;
            width: 50px;
        }

        &--img {
            border-radius: 6px;
        }

        &--icon {
            margin-left: 7px;
        }

        &__detail {
            padding-top: 10px;
            margin-left: 12px;
        }

        &--hello {
            font-size: 0.8rem;
            margin: 0;
        }

        &--name {
            font-size: 0.9rem;
            margin: 0;
        }
    }
}

.main {
    display: grid;
    grid-template-columns: 5% 20% 45% 30%;
    height: 100vh;
    margin-top: 50px;
}

.sidebar {
    border: 1px solid red;
}

.iconbox {
    background: lightblue;
    display: flex;
    border-top-right-radius: 25px;
    justify-content: center;
    


    &__icons {
        list-style: none;
        padding: 0;
        padding-top: 15px;

        &--list {
            background: #fff;
            border-radius: 5px;
            color: grey;
            font-size: 1.1rem;
            margin-bottom: 40px;
            padding: 8px 10px;

            &--active {
                background: blue;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                font-size: 1.1rem;
                margin-bottom: 40px;
                padding: 8px 10px;
            }
        }

        &--list:hover {
            background: blue;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 1.1rem;
            margin-bottom: 40px;
            padding: 8px 10px;
            transition: .4s ease-in;
        }

        
    }
    
}

.jobs {
    background: lightgrey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    justify-content: center;
    padding: 10px 15px;

    .search {
        margin-bottom: 70px;
        padding-top: 5px;

        &__form {
            background: #fff;
            border-radius: 16px;
            display: grid;
            padding: 12px 15px;

            &__element {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 15px;
                margin-bottom: 5px;
            }

            &__group {
                //width: 100%;

                &__button {
                    background: #fff;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    justify-self: center;
                    margin-bottom: -60px;
                    padding: 10px 10px;
                    width: 50%;
                }

                & label {
                    font-size: 1.15rem;
                    font-weight: 600;
                    padding-bottom: 100px;


                    & span {
                        display: block;
                        font-size: 0.9rem;
                        font-weight: lighter;
                    }
                }

                & input[type="search"]{
                    background: lightgrey;
                    border: none;
                    border-radius: 6px;
                    outline: none;
                    margin-top: 8px;
                    padding: 15px 10px;
                    width: 100%;
                }

            }

            &--button {
                background: blue;
                border: 1px solid blue;
                border-radius: 6px;
                color: #fff;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: 600;
                outline: none;
                padding: 10px 10px;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }

    &__single {
        align-items: center;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 16px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-bottom: 15px;
        height: 100px;
        width: 100%;

        &__logo {
            align-content: center;
            display: flex;
            justify-content: center;
            margin-left: 30px;
            width: 45px;
        }

        &__detail {

            &--company {
                font-size: 1.3rem;
                margin: 0;
                margin-bottom: 5px;
            }

            &--position {
                font-size: 0.9rem;
                margin: 0;
                margin-bottom: 4px;
            }

            &--time {
                font-size: 0.8rem;
                margin: 0;
            }

            &--location {
                text-align: right;
                margin-bottom: 30px;
            }

            &--button {
                background: none;
                border: none;
                color: blue;
                cursor: pointer;
                display: flex;
                font-size: 0.9rem;
                justify-items: flex-end;
                margin-top: -5px;
                outline: none;
                text-align: right;
            }
        }

        &__other {
            display: grid;
            justify-content: flex-start;
            margin-right: 25px;
        }
    }
}


/* Job Info section styling */

.jobInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 13px 15px;

    &--apply {
        background: blue;
        border: 1px solid blue;
        border-radius: 8px;
        color: #fff;
        font-weight: 550;
        padding: 12px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 90%;
    }

    &__companyInfo {
        align-self: center;
        margin-bottom: 25px;
        text-align: center;
        width: 100px;

        &--name {
            margin-top: 5px;
        }
    }

    & img {
        border: 1px solid grey;
        border-radius: 8px;
        padding: 10px 12px;
    }

    &__detail {
        margin-bottom: 40px;
        text-align: center;

        &--title {
            margin: 0;
            margin-bottom: 12px;
        }

        &--desc {
            margin: 0;
        }
    }
}